doctype html
html(lang="en")
    head 
        title My Porfolio
        link(href="https://fonts.googleapis.com/css?family=Montserrat:320&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='style.css', type='text/css')
        meta(charset="utf-8")
    body 
        header#overhead.section
            nav
                ul.navigation
                    li.item 
                        a(href="#about") About Me
                    li.item 
                        a(href="#project") Projects 
                    li.item 
                        a(href="#contact") Contact
        main
            div.name
                p#intro. 
                    <strong> </strong> <br>
                    <em id="description"></em>
            section#about
                span.
                    Hello my name is Christopher
                    Pestano and I'm a web developer in the Miami area!
            section#project
                ul
                    - var projectimgs = ["","",""]

                    - for (var i = 0; i < projectimgs.length; i++) {
                        li 
                        img(src=projectimgs[i])
                        span(id=projectimgs[i]) empty
                    -}
            section#contact
                h2 Contact
            div
                p.
                    Email : a@aol.com
                    Phone : 305-457-7283
                span

        script(src="scripts/name.js")
