doctype html
html(lang="en")
    head 
        title My Porfolio
        link(href="https://fonts.googleapis.com/css?family=Montserrat:320&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='style.css', type='text/css')
    body 
        header#overhead.section
            nav
                div My Porfolio
                ul.navigation
                    li.item 
                        a(href="#") About Me 
                    li.item 
                        a(href="#") Projects 
                    li.item 
                        a(href="#") Contact
        main
            div.name
                h1 Christopher Pestano
                p Programmer. Designer. Dreamer.
            section.about
                span.
                    Hello my name is Christopher
                    Pestano and I'm a web developer in the Miami area!
            section.project
                ul
                    - var projectimgs = ["","",""]

                    - for (var i = 0; i < projectimgs.length; i++) {
                        li 
                        img(src=projectimgs[i])
                        span(id=projectimgs[i]) empty
                    -}
            section.contact
                h2 Contact
            div
                p.
                    Email : a@aol.com
                    Phone : 305-457-7283
                span

        script(src="scripts/porfolio.js")
