* {
    margin:0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color:#ffc1c1;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color: #f9ff5c;
}

a:visited {
    color:black;
}

nav {
    font-weight: 400px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: #ff8484;
}

strong {
    font-size: 15vh;
}

.navigation {
    font-size: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.name {
    text-align: left;
    font-size: 8vh;
    margin: 40vh 0px 40vh 10px;
}

#subtext {
    margin-left: 30px;
}
